p{
	font-family: 'Droid Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Arimo', sans-serif;
}

.overlay-dark80:before {
	background-color: rgba(256,256,256,0.2);
}

.fundo-nav{
	background-color: #FAC713 !important;
}

.bg-yellow{
	background-color: #FAC713;
}

.bg-img{
	margin-top: 60px;
}

.conteudo_slide{
	text-align: right;
}

.header .logo a {
    position: relative;
    display: block;
    width: 180px;
    margin-top: 10px;
}

.header.sticky{
	padding-top: 5px;
	padding-bottom: 5px;
}

.header.sticky .logo a {
    width: 155px;
    margin-top: 5px;
    padding-bottom: 10px;
}

.fullwidth-slider .item {
    margin-top: 94px;
}

.destaque-data{
	font-weight: bold;
	font-size: 20px
}

.accordion-section img{
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-dir-cima{
	float: right;
	width: 300px;
}

.pl-0{
	padding-left: 0px;
}

.conteudo{
	margin-top: 110px;
	min-height: 500px;
}

.foto-perfil button{
	width: 100%;
	margin-top: 5px;
}

.dark-bg-grad{
  background: -webkit-radial-gradient(#3C3A3A, #0C0F0C, #38383A); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#3C3A3A, #0C0F0C, #38383A); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#3C3A3A, #0C0F0C, #38383A); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#3C3A3A, #0C0F0C, #38383A); /* Standard syntax */
}

.dark-bg-grad h3, .dark-bg-grad h4, .dark-bg-grad p{
	color: white;
}

#preloader {
	background-color: rgb(255, 255, 255, 0.3);
}

#conteudo button{
    background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
    background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #28a4c9;
    color: white;
}

#form-busca .form-group{
	margin-bottom: 5px;
}

#form-busca .form-control{
	margin-bottom: 0px;
}

form textarea {
	resize: vertical;
}

.panel-title .fa {
	margin-left: 16px;
}

.modal-backdrop {
	z-index: 8000;
}

.modal {
	z-index: 8001;
}