
<form name="form" ng-submit="salvar()">
	<div class="modal-header">
		<h3 class="modal-title">Cadastro de Cidad&atilde;o</h3>
	</div>
	<div class="modal-body">

		<div class="row">

			<div class="col-md-4">

				<div class="form-group">
					<label>Nome: *</label> <input type="text" class="form-control" ng-model="p.nome" required>
				</div>

				<div class="form-group">
					<label>Email: *</label> <input type="email" class="form-control" ng-model="p.email" required>
				</div>

				<div class="form-group">
					<label>CPF:</label>
					<cpf class="form-control" ng-model="p.cpf">
				</div>

				<fieldset class="form-group">
					<legend>Endere&ccedil;o</legend>
					<div class="form-group">
						<label>CEP:</label> <input type="text" class="form-control" ng-change="findByCEP()" ng-model="p.cep" mask="99.999-999"
							ng-pattern="/^[0-9]{2}.[0-9]{3}-[0-9]{3}$/">
					</div>
					<div class="form-group">
						<label>Estado:</label> <select class="form-control" ng-change="listarCidadesResidencial()" ng-model="idEstadoResidencial"
							ng-options="e.id as e.nome for e in estados">
							<option value="">Selecione...</option>
						</select>
					</div>
					<div class="form-group">
						<label>Cidade:</label> <select class="form-control" ng-change="listarBairrosResidencial()" ng-disabled="!idEstadoResidencial"
							ng-model="idCidadeResidencial" ng-options="c.id as c.nome for c in cidadesResidencial">
							<option value="">Selecione...</option>
						</select>
					</div>
					<div class="form-group">
						<label>Bairro:</label> <select class="form-control" ng-disabled="!idCidadeResidencial" ng-model="p.bairro"
							ng-options="b as b.nome for b in bairrosResidencial">
							<option value="">Selecione...</option>
						</select>
					</div>
					<div class="form-group">
						<label>Logradouro:</label> <input type="text" class="form-control" ng-model="p.logradouro">
					</div>
				</fieldset>

				<div class="form-group">
					<label>Tempo de domic&iacute;lio:</label> <select class="form-control" ng-model="p.tempoDomicilio.id"
						ng-options="t.id as t.descricao for t in temposDomicilio">
						<option value="">Selecione...</option>
					</select>
				</div>
			</div>

			<div class="col-md-4">

				<div class="form-group">
					<label>Tipo de im&oacute;vel:</label> <select class="form-control" ng-model="p.tipoImovel.id"
						ng-options="t.id as t.descricao for t in tiposImovel">
						<option value="">Selecione...</option>
					</select>
				</div>

				<fieldset class="form-group">
					<legend>Naturalidade</legend>
					<div class="form-group">
						<label>Estado:</label> <select class="form-control" ng-change="listarCidadesNaturalidade()" ng-model="idEstadoNaturalidade"
							ng-options="e.id as e.nome for e in estados">
							<option value="">Selecione...</option>
						</select>
					</div>
					<div class="form-group">
						<label>Cidade:</label> <select class="form-control" ng-disabled="!idEstadoNaturalidade" ng-model="p.cidadeNatal.id"
							ng-options="c.id as c.nome for c in cidadesNaturalidade">
							<option value="">Selecione...</option>
						</select>
					</div>
				</fieldset>

				<div class="form-group">
					<label>Sexo:</label> <select class="form-control" ng-model="p.sexo" ng-options="s.value as s.label for s in Sexo">
						<option value="">Selecione...</option>
					</select>
				</div>

				<div class="form-group">
					<label>Escolaridade:</label> <select class="form-control" ng-model="p.escolaridade.id"
						ng-options="e.id as e.descricao for e in escolaridades">
						<option value="">Selecione...</option>
					</select>
				</div>

				<div class="form-group">
					<label>Faixa et&aacute;ria:</label> <select class="form-control" ng-model="p.idade.id" ng-options="i.id as i.descricao for i in idades">
						<option value="">Selecione...</option>
					</select>
				</div>

				<div class="form-group">
					<label>Estado civil:</label> <select class="form-control" ng-model="p.estadoCivil.id"
						ng-options="e.id as e.descricao for e in estadosCivis">
						<option value="">Selecione...</option>
					</select>
				</div>

				<div class="form-group">
					<label>Renda:</label> <select class="form-control" ng-model="p.renda.id" ng-options="r.id as r.descricao for r in rendas">
						<option value="">Selecione...</option>
					</select>
				</div>

			</div>

			<div class="col-md-4">

				<div class="form-group">
					<label>N&uacute;mero de filhos</label> <input class="form-control" type="number" value="0" min="0" ng-model="p.numeroFilhos">
				</div>

				<div class="form-group">
					<label>Dependentes diretos:</label> <input class="form-control" type="number" value="0" min="0" ng-model="p.numDependentesDiretos">
				</div>

				<fieldset class="form-group">
					<legend>Domic&iacute;lio eleitoral</legend>
					<div class="form-group">
						<label>Estado:</label> <select class="form-control" ng-change="listarCidadesDomicilioEleitoral()"
							ng-model="idEstadoDomicilioEleitoral" ng-options="e.id as e.nome for e in estados">
							<option value="">Selecione...</option>
						</select>
					</div>
					<div class="form-group">
						<label>Cidade:</label> <select class="form-control" ng-change="listarDomicilios()" ng-disabled="!idEstadoDomicilioEleitoral"
							ng-model="idCidadeDomicilioEleitoral" ng-options="c.id as c.nome for c in cidadesDomicilioEleitoral">
							<option value="">Selecione...</option>
						</select>
					</div>
					<div class="form-group">
						<label>Zona:</label> <select class="form-control" ng-disabled="!idCidadeDomicilioEleitoral" ng-model="p.domicilioEleitoral.id"
							ng-options="d.id as d.zona for d in domicilios">
							<option value="">Selecione...</option>
						</select>
					</div>
				</fieldset>

				<div class="form-group">
					<label>Servidor p&uacute;blico</label> <select class="form-control" ng-model="p.servidorPublico"
						ng-options="o.value as o.label for o in OpcoesBoolean">
						<option value="">Selecione...</option>
					</select>
				</div>

				<fieldset class="form-group">
					<legend>Autentica&ccedil;&atilde;o</legend>
					<div class="form-group">
						<label>Senha: *</label> <input class="form-control" type="password" ng-model="p.autenticacao" required>
					</div>
					<div class="form-group">
						<label>Confirmar senha: *</label> <input class="form-control" type="password" ng-model="p.autenticacao2" required>
					</div>
				</fieldset>

			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button type="submit" ng-disabled="form.$pending" class="btn btn-primary">Salvar</button>
		<button class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
	</div>
</form>
