
<form name="form" ng-submit="salvarProposicao()">
	<div class="modal-header">
		<h3 class="modal-title">Nova proposi&ccedil;&atilde;o</h3>
	</div>
	<div class="modal-body">

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="form-group">
					<label>Deixe sua proposi&ccedil;&atilde;o!</label>
					<textarea required class="form-control" ng-model="proposicao.texto" rows="5"></textarea>
				</div>

				<div class="form-group">
					<label>Qual a sua opini&atilde;o sobre os conte&uacute;dos tratados nesta Consulta P&uacute;blica? (Opcional)</label>
					<textarea class="form-control" ng-model="proposicao.opiniaoConteudoAp" rows="4"></textarea>
				</div>

				<div class="form-group">
					<label>Quais outras tem&aacute;ticas voc&ecirc; sugeriria para as pr&oacute;ximas Consultas P&uacute;blicas em seu bairro?
						(Opcional)</label>
					<tags-input ng-model="proposicao.sugestaoTematicas" display-property="nome"> <auto-complete
						source="filterKeys('tematicas', $query)" display-property="nome" load-on-focus="true" load-on-down-arrow="true"></auto-complete> </tags-input>
				</div>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button type="submit" ng-disabled="form.$pending" class="btn btn-primary">Salvar</button>
		<button type="button" class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
	</div>
</form>
