
<form name="form" ng-submit="salvar()">
	<div class="modal-header">
		<h3 class="modal-title">Cadastro de Gestor P&uacute;blico</h3>
	</div>
	<div class="modal-body">

		<div class="form-group">
			<label>Nome: *</label> <input type="text" class="form-control" ng-model="p.nome" required>
		</div>

		<div class="form-group">
			<label>Email: *</label> <input type="email" class="form-control" ng-model="p.email" required>
		</div>

		<fieldset class="form-group">
			<legend>Autentica&ccedil;&atilde;o</legend>
			<div class="form-group">
				<label>Senha: *</label> <input class="form-control" type="password" ng-model="p.autenticacao" required>
			</div>
			<div class="form-group">
				<label>Confirmar senha: *</label> <input class="form-control" type="password" ng-model="p.autenticacao2" required>
			</div>
		</fieldset>

	</div>

	</div>
	<div class="modal-footer">
		<button type="submit" ng-disabled="form.$pending" class="btn btn-primary">Salvar</button>
		<button class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
	</div>
</form>
