<div class="container">

	<search-box style="margin-bottom: 18px;" title="Configura&ccedil;&atilde;o de dicion&aacute;rio de termos" placeholder="Pesquisar termos"
		ng-model="query"></search-box>

	<div class="row">

		<div class="{{::lista.proportion}}" ng-repeat="(k, lista) in listas">
			<fieldset>
				<legend>{{::lista.title}} <i class="pull-right visible-xs visible-sm glyphicon" ng-class="{'glyphicon-eye-open': !lista.visible, 'glyphicon-eye-close': lista.visible}" ng-click="lista.visible = !lista.visible;"></i></legend>
				<div ng-show="lista.visible" class="panel {{::lista.themeClass}}"
					ng-repeat="termo in lista.termos | ignoreDiacritics:query:[attrDescription]">
					<div class="panel-heading">
						<form ng-submit="update(termo)">
							<div class="input-group">
								<input type="text" class="form-control" required ng-if="::!fetchModel(termo, attrDescription)" ng-model="termo[attrDescription]" ng-change="termo.changed = true;" placeholder="Descri&ccedil;&atilde;o">
								<input type="text" class="form-control" required ng-if="::fetchModel(termo, attrDescription)" ng-model="$root.getComplexModel(termo, attrSegs)[attrLast]" ng-change="termo.changed = true;" placeholder="Descri&ccedil;&atilde;o">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit" ng-disabled="termo.pending || !termo.changed" title="Atualizar descri&ccedil;&atilde;o">
										<i class="glyphicon glyphicon-floppy-disk"></i>
									</button>
									<button class="btn btn-default" type="button" ng-if="::inclui(lista.botoes, Botao.INVALIDAR)" ng-disabled="termo.pending" ng-click="setValid(termo, false, fnInvalid)" title="Invalidar termo">
										<i class="glyphicon glyphicon-remove"></i>
									</button>
									<button class="btn btn-default" type="button" ng-if="::inclui(lista.botoes, Botao.VALIDAR)" ng-disabled="termo.pending" ng-click="setValid(termo, true, fnValid)" title="Validar termo">
										<i class="glyphicon glyphicon-ok"></i>
									</button>
								</span>
							</div>
						</form>
					</div>
				</div>
			</fieldset>
		</div>

	</div>
</div>
