<fieldset class="search-box">
	<legend>{{title}}</legend>
	<div class="search-box-main">
		<div ng-class="{'input-group' : hasTransclude}">
			<input id="filtroNome" type="text" class="form-control" placeholder="{{placeholder}}" ng-model="model"> <span
				ng-if="hasTransclude" class="input-group-btn"><button ng-model="a" ng-click="toggleFilters($event)" class="btn btn-warning"
					btn-checkbox>
					<span class="glyphicon glyphicon-filter"></span> Filtros
				</button></span>
		</div>
		<div id="filters-parent" class="hidden" ng-if="hasTransclude">
			<hr>
			<div id="transclude-parent" class="search-box-filter" ng-transclude></div>
		</div>
	</div>
</fieldset>