<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Portal Cidadão</title>

<script type="text/javascript">
	var l = window.location.pathname;
    if(l.charAt(l.length - 1) !== '/') {
	    window.location.pathname += '/';
    }
</script>

<script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js#version=v2.6&appId=191418137880764&status=true&cookie=true&xfbml=true"></script>

<link rel="stylesheet" href="./webjars/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="./webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="./webjars/ng-tags-input/3.0.0/build/ng-tags-input.min.css">
<link rel="stylesheet" href="./webjars/ng-tags-input/3.0.0/build/ng-tags-input.bootstrap.min.css">
<link rel="stylesheet" href="./webjars/font-awesome/4.5.0/css/font-awesome.min.css">

<link rel="stylesheet" href="./css/main.css">
<link rel="stylesheet" href="./css/navbar.css">
<link rel="stylesheet" href="./css/form.css">
<link rel="stylesheet" href="./css/searchbox.css">
<link rel="stylesheet" href="./css/cluster.css">

</head>
<body>

	<div ng-controller="LoaderController" class="loading" style="display: none" ng-style="{'display': (loader.visible ? 'block' : 'none')}">
		<img class="spin" alt="loading" src="./img/loading.png">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<img src="./img/logomarcamenor.png" style="margin-top: 10px;">
			</div>
			<div class="col-md-5" ng-show="!currentUser">
				<div class="pull-right" style="margin-top: 1px;">
					<a href="https://www.facebook.com"><img src="./img/icone_facebook.png" border="0"></a> <a href="https://br.pinterest.com"><img
						src="./img/icone_pinterest.png" border="0"></a> <a href="https://www.facebook.com"><img src="./img/icone_net.png" border="0"></a>
					<a href="https://twitter.com"><img src="./img/icone_twitter.png" border="0"></a> <a href="https://www.youtube.com"><img
						src="./img/icone_youtube.png" border="0"></a> <a href="https://vimeo.com"><img src="./img/icone_v.png" border="0"></a>
				</div>
				<div style="margin-right: 2%; margin-top: 5%;">
					<h6>Participar</h6>
				</div>

				<div ng-controller="LoginController">
					<form ng-submit="login()" class="form-inline" role="form">
						<div class="form-group">
							<input type="email" class="form-control input-sm" name="username" ng-model="credentials.username" placeholder="Email" required autofocus>
						</div>
						<div class="form-group">
							<input type="password" class="form-control input-sm" name="password" ng-model="credentials.password" placeholder="Senha" required>
						</div>
						<div class="form-group">
							<div class="btn-group">
								<button type="submit" class="btn btn-sm btn-default">Entrar</button>
								<button type="button" class="btn btn-sm btn-primary" ng-click="loginFacebook()" title="Login via Facebook"><i class="fa fa-facebook"></i></button>
							</div>
						</div>
						<div>
							Registrar-se como <a ng-click="novoUsuario()">Cidadão</a> ou <a ng-click="novoGestorPublico()">Gestor P&uacute;blico</a>
						</div>
					</form>
				</div>
			</div>
		</div>

		<nav class="navbar navbar-custom">
			<div class="container-fluid">
				<div>
					<ul class="nav navbar-nav">

						<li><a ui-sref="root">HOME</a></li>

						<li ng-if="hasPermission(Permissao.PROPONENTE)" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">CIDAD&Atilde;O
								<span class="caret"></span>
						</a>
							<ul class="dropdown-menu">
								<li><a ui-sref="home">Consultas que participei</a></li>
								<li><a ui-sref="me">Central do usuário</a></li>
							</ul></li>

						<li class="dropdown" ng-if="hasPermission(Permissao.POLITICO)"><a class="dropdown-toggle" data-toggle="dropdown">GESTOR
								P&Uacute;BLICO <span class="caret"></span>
						</a>
							<ul class="dropdown-menu">
								<li><a ui-sref="ap.register">Cadastro de CPs</a></li>
								<li><a ui-sref="ap.list">Consulta de CPs</a></li>
								<li><a ui-sref="me">Central do Usu&aacute;rio</a></li>
							</ul></li>

						<li><a href="#">COMO PARTICIPAR</a></li>

						<li><a href="#">NOT&Iacute;CIAS</a></li>

						<li><a href="#">CONTATO</a></li>

						<li class="dropdown" ng-if="hasPermission(Permissao.ADMIN)"><a class="dropdown-toggle" data-toggle="dropdown">IMPORTAR
								DADOS <span class="caret"></span>
						</a>
							<ul class="dropdown-menu">
								<li><a ui-sref="adm.import.propositions">Proposi&ccedil;&otilde;es </a></li>
								<li><a ui-sref="adm.import.users">Usu&aacute;rios </a></li>
							</ul></li>

						<li class="dropdown" ng-if="hasPermission(Permissao.ADMIN)"><a class="dropdown-toggle" data-toggle="dropdown">ADMINISTRADOR <span class="caret"></span>
						</a>
							<ul class="dropdown-menu">
								<li><a ui-sref="adm.dictionary">Configurar dicion&aacute;rio de termos</a></li>
							</ul></li>

						<li ng-show="currentUser"><a href="./logout">LOGOUT</a></li>

					</ul>
				</div>
			</div>
		</nav>
	</div>

	<div class="body">
		<div ng-if="currentUser" class="main-view" ui-view noanimation="true"></div>
		<div ng-include ng-if="!currentUser" src="'./views/partials/home.html'" ng-cloak></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-11 col-md-offset-1">
				<p class="p-title">APOIO:</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-2">
				<img alt="teste" src="./img/apoio_teste.png">
			</div>
			<div class="col-md-3">
				<img alt="teste" src="./img/apoio_teste.png">
			</div>
			<div class="col-md-3">
				<img alt="teste" src="./img/apoio_teste.png">
			</div>
		</div>
		<br> <br>
		<div class="row">
			<div class="col-md-11 col-md-offset-1">
				<p class="p-title">DESENVOLVIMENTO:</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-3">
				<img alt="ufsc" src="./img/rodape_desenvolvedor.png">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p style="text-align: right;">
					<b>Vers&atilde;o:</b> {{::sistema.versao}}
				</p>
			</div>
		</div>
	</div>

	<script src="./webjars/jquery/2.1.3/jquery.min.js"></script>
	<script src="./webjars/angularjs/1.5.3/angular.min.js"></script>
	<script src="./webjars/angularjs/1.5.3/i18n/angular-locale_pt-br.js"></script>
	<script src="./webjars/angularjs/1.5.3/angular-animate.min.js"></script>
	<script src="./webjars/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
	<script src="./webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="./webjars/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
	<script src="./webjars/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
	<script src="./webjars/highcharts/3.0.10/highcharts.js"></script>
	<script src="./webjars/highcharts-ng/0.0.8/highcharts-ng.min.js"></script>
	<script src="./webjars/d3js/3.5.5/d3.min.js"></script>
	<script src="./webjars/underscorejs/1.8.3/underscore-min.js"></script>
	<script src="./webjars/ng-tags-input/3.0.0/build/ng-tags-input.min.js"></script>
	<script src="./webjars/bootbox.js/4.4.0/bootbox.js"></script>
	<script src="./js/lib/ngMask/ngMask.min.js"></script>
	<script src="./js/lib/angular-recaptcha/angular-re-captcha.js"></script>

	<script src="./js/constants.js"></script>
	<script src="./js/util.js"></script>

	<script src="./js/app.module.js"></script>

	<script src="./js/controller/loaderController.js"></script>
	<script src="./js/controller/cadastroProponenteController.js"></script>
	<script src="./js/controller/cadastroGestorPublicoController.js"></script>
	<script src="./js/controller/cadastroApController.js"></script>
	<script src="./js/controller/loginController.js"></script>
	<script src="./js/controller/homeController.js"></script>
	<script src="./js/controller/cadastroProposicaoController.js"></script>
	<script src="./js/controller/listaApController.js"></script>
	<script src="./js/controller/listaPerfilController.js"></script>
	<script src="./js/controller/clusterController.js"></script>
	<script src="./js/controller/listaTematicasController.js"></script>
	<script src="./js/controller/importaProposicoesController.js"></script>
	<script src="./js/controller/centralUsuarioController.js"></script>
	<script src="./js/controller/visualizarApController.js"></script>
	<script src="./js/controller/importaUsuariosController.js"></script>
	<script src="./js/controller/termosController.js"></script>
	<script src="./js/controller/termosApController.js"></script>
	<script src="./js/controller/homeAdminController.js"></script>

	<script src="./js/service/sistemaService.js"></script>
	<script src="./js/service/chartService.js"></script>
	<script src="./js/service/estadoService.js"></script>
	<script src="./js/service/cidadeService.js"></script>
	<script src="./js/service/bairroService.js"></script>
	<script src="./js/service/tempoDomicilioService.js"></script>
	<script src="./js/service/tipoImovelService.js"></script>
	<script src="./js/service/estadoCivilService.js"></script>
	<script src="./js/service/escolaridadeService.js"></script>
	<script src="./js/service/idadeService.js"></script>
	<script src="./js/service/rendaService.js"></script>
	<script src="./js/service/domicilioEleitoralService.js"></script>
	<script src="./js/service/tagService.js"></script>
	<script src="./js/service/apService.js"></script>
	<script src="./js/service/usuarioService.js"></script>
	<script src="./js/service/permissionService.js"></script>
	<script src="./js/service/statusService.js"></script>
	<script src="./js/service/proposicaoService.js"></script>
	<script src="./js/service/proponenteService.js"></script>
	<script src="./js/service/tematicaService.js"></script>
	<script src="./js/service/facebookService.js"></script>
	<script src="./js/service/termosService.js"></script>
	<script src="./js/service/fileService.js"></script>
	<script src="./js/service/videoService.js"></script>
	<script src="./js/service/videoYoutubeService.js"></script>
	<script src="./js/service/documentoService.js"></script>
	<script src="./js/service/logService.js"></script>

	<script src="./js/directive/cpf.js"></script>
	<script src="./js/directive/searchbox.js"></script>
	<script src="./js/directive/datePopup.js"></script>
	<script src="./js/directive/dictionaryList.js"></script>
	<script src="./js/directive/ngEnter.js"></script>

	<script src="https://www.youtube.com/iframe_api"></script>

</body>
</html>