<div class="container">
	<div class="row-fluid">
		<h4>Registrar Consulta P&uacute;blica</h4>

		<div class="col-md-7">
			<div class="form-group">
				<label>Nome da Consulta P&uacute;blica</label> <input type="text" class="form-control" required ng-model="ap.nome">
			</div>

			<div class="form-group">
				<label>Descric&atilde;o</label>
				<textarea required ng-model="ap.descricao" class="form-control" rows="5" id="descricao"></textarea>
			</div>

			<div class="form-group">
				<label>C&oacute;digo:</label> <input type="text" class="form-control" required ng-model="ap.codigo">
			</div>

			<div class="form-group">
				<label>In&iacute;cio:</label>
				<datepopup ng-model="ap.dataInicio" ng-required="true" />
			</div>

			<div class="form-group">
				<label>Encerramento:</label>
				<datepopup ng-model="ap.dataEncerramento" ng-required="true" />
			</div>

			<div class="form-group">
				<label>N&uacute;mero m&aacute;ximo de proposi&ccedil;&otilde;es por usu&aacute;rio:</label> <input class="form-control" type="number"
					min="1" max="999999999" ng-init="ap.maxProposicoesUsuario = 3" ng-model="ap.maxProposicoesUsuario">
			</div>

			<div class="form-group">
				<div class="checkbox">
					<label class="form-control-md-11">
						<input type="checkbox" checked ng-model="ap.usuariosIdentificados" class="form-control-md-1">
						Apenas usu&aacute;rios identificados por CPF podem cadastrar proposi&ccedil;&otilde;es para esta AP
					</label>
				</div>
			</div>
		</div>

		<div class="col-md-5">
			<fieldset>
				<legend>Anexos</legend>

				<accordion close-others="false">

					<accordion-group is-open="status.attachmentsOpen">
						<accordion-heading>
							<b>Documentos</b> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.attachmentsOpen, 'glyphicon-chevron-right': !status.attachmentsOpen}"></i>
						</accordion-heading>
						<input class="input-file" type="file" data-destination="documentos" ng-init="initListener('file')"
							accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
						<div ng-show="status.documentos.length">
							<hr />
							<ul class="list-group">
								<li class="list-group-item" ng-repeat="f in status.documentos">
									<label>{{f.name || f.nome | limitTo:46}}</label>
									<span class="pull-right glyphicon glyphicon-remove" title="Excluir Documento" ng-click="removeFile(status.documentos, $index, f)"></span>
								</li>
							</ul>
						</div>
					</accordion-group>

					<accordion-group is-open="status.videosOpen">
						<accordion-heading>
							<b>V&iacute;deos</b> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.videosOpen, 'glyphicon-chevron-right': !status.videosOpen}"></i>
						</accordion-heading>
						<input class="input-video" type="file" data-destination="videos" ng-init="initListener('video')" accept="video/*">
						<p class="help-block">M&aacute;ximo de <b>2GB</b></p>
						<div ng-show="status.videos.length">
							<hr />
							<ul class="list-group">
								<li class="list-group-item" ng-repeat="f in status.videos">
									<label>{{f.name || f.nome | limitTo:46}}</label>
									<span class="pull-right glyphicon glyphicon-remove" title="Excluir V&iacute;deo" ng-click="removeFile(status.videos, $index, f)"></span>
								</li>
							</ul>
						</div>
					</accordion-group>

					<accordion-group is-open="status.videosYoutubeOpen">
						<accordion-heading>
							<b>V&iacute;deos (YouTube&reg;)</b> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.videosYoutubeOpen, 'glyphicon-chevron-right': !status.videosYoutubeOpen}"></i>
						</accordion-heading>
						<div class="input-group">
							<input class="form-control" ng-model="status.urlToAdd" type="text" placeholder="URL do V&iacute;deo" ng-enter="addVideo()"
								popover="URL inv&aacute;lida!" popover-is-open="status.erroVideoYoutube" popover-trigger="none" ng-focus="status.erroVideoYoutube = false;">
							<span class="input-group-btn">
								<a class="btn btn-default" ng-click="addVideo()"><i class="fa fa-plus"></i></a>
							</span>
						</div>
						<p class="help-block">Ex: <b>https://www.youtube.com/watch?v=XXXXXXX</b> ou <b>https://youtu.be/XXXXXXX</b></p>
						<div ng-show="status.videosYoutube.length">
							<hr />
							<div class="list-group">
								<a class="list-group-item" ng-repeat="v in status.videosYoutube track by $index" ng-href="{{v.watchUrl}}" target="_blank">
									<div class="media">
										<div class="media-left">
											<img class="media-object" ng-src="{{v.thumbUrl}}" width="96">
										</div>
										<div class="media-body">
											<h4 class="media-heading">
												<span class="pull-right glyphicon glyphicon-remove" title="Excluir V&iacute;deo" ng-click="removeVideo($index, $event)"></span>
												{{v.title}}
											</h4>
											{{v.channelTitle}}
										</div>
									</div>
								</a>
							</div>
						</div>
					</accordion-group>

				</accordion>
			</fieldset>

			<div class="form-group">
				<label>Tags:</label>
				<tags-input ng-model="ap.tags" display-property="valor"> <auto-complete source="filterKeys('tags', $query)"></auto-complete>
				</tags-input>
			</div>
		</div>

		<div class="col-md-12">
			<form ng-submit="salvar()" class="form" role="form">
				<button type="submit" class="btn pull-right btn-success">Salvar</button>
			</form>
		</div>
	</div>
</div>