<div ng-controller="CentralUsuarioController">
	<button class="btn btn-default" ng-if="!u.autenticadoFacebook" ng-click="vincularFacebook()">Vincular Facebook</button>

	<form ng-submit="salvar()">

		<fieldset>
			<legend>Dados Cadastrais</legend>
			<div class="form-group">
				<label>Nome:</label> <input type="text" class="form-control" ng-model="u.nome" required>
			</div>

			<div class="form-group">
				<label>Email:</label> <input type="email" class="form-control" ng-model="u.email" required>
			</div>

			<fieldset>
				<legend>Alterar Senha</legend>
				<div class="form-group">
					<label>Senha atual:</label> <input class="form-control" type="password" ng-model="u.autenticacaoAtual" ng-required="u.autenticacao">
				</div>
				<div class="form-group">
					<label>Nova senha:</label> <input class="form-control" type="password" ng-model="u.autenticacaoTroca1">
				</div>
				<div class="form-group">
					<label>Confirmar senha:</label> <input class="form-control" type="password" ng-model="u.autenticacaoTroca2"
						ng-required="u.autenticacao">
				</div>
			</fieldset>
		</fieldset>

		<div ng-if="::isCidadao">
			<fieldset class="form-group">
				<legend>Endere&ccedil;o</legend>
				<div class="form-group">
					<label>CEP:</label> <input type="text" class="form-control" ng-change="findByCEP()" ng-model="u.cep" mask="99.999-999"
						ng-pattern="/^[0-9]{2}.[0-9]{3}-[0-9]{3}$/" required>
				</div>
				<div class="form-group">
					<label>Estado:</label> <select class="form-control" ng-change="listarCidadesResidencial()" ng-model="idEstadoResidencial"
						ng-options="e.id as e.nome for e in estados">
						<option value="">Selecione...</option>
					</select>
				</div>
				<div class="form-group">
					<label>Cidade:</label> <select class="form-control" ng-change="listarBairrosResidencial()" ng-disabled="!idEstadoResidencial"
						ng-model="idCidadeResidencial" ng-options="c.id as c.nome for c in cidadesResidencial">
						<option value="">Selecione...</option>
					</select>
				</div>
				<div class="form-group">
					<label>Bairro:</label> <select class="form-control" ng-disabled="!idCidadeResidencial" ng-model="u.bairro.id"
						ng-options="b.id as b.nome for b in bairrosResidencial" required>
						<option value="">Selecione...</option>
					</select>
				</div>
				<div class="form-group">
					<label>Logradouro:</label> <input type="text" class="form-control" ng-model="u.logradouro">
				</div>
			</fieldset>

			<div class="form-group">
				<label>Tempo de domic&iacute;lio:</label> <select class="form-control" required ng-model="u.tempoDomicilio.id"
					ng-options="t.id as t.descricao for t in temposDomicilio">
					<option value="">Selecione...</option>
				</select>
			</div>

			<div class="form-group">
				<label>Tipo de im&oacute;vel:</label> <select class="form-control" required ng-model="u.tipoImovel.id"
					ng-options="t.id as t.descricao for t in tiposImovel">
					<option value="">Selecione...</option>
				</select>
			</div>

			<fieldset class="form-group">
				<legend>Naturalidade</legend>
				<div class="form-group">
					<label>Estado:</label> <select class="form-control" ng-change="listarCidadesNaturalidade()" ng-model="idEstadoNaturalidade"
						ng-options="e.id as e.nome for e in estados">
						<option value="">Selecione...</option>
					</select>
				</div>
				<div class="form-group">
					<label>Cidade:</label> <select class="form-control" ng-disabled="!idEstadoNaturalidade" ng-model="u.cidadeNatal.id"
						ng-options="c.id as c.nome for c in cidadesNaturalidade" required>
						<option value="">Selecione...</option>
					</select>
				</div>
			</fieldset>

			<div class="form-group">
				<label>Sexo:</label> <select class="form-control" ng-model="u.sexo" required ng-options="s.value as s.label for s in Sexo">
					<option value="">Selecione...</option>
				</select>
			</div>

			<div class="form-group">
				<label>Escolaridade:</label> <select class="form-control" ng-model="u.escolaridade.id" required
					ng-options="e.id as e.descricao for e in escolaridades">
					<option value="">Selecione...</option>
				</select>
			</div>

			<div class="form-group">
				<label>Faixa et&aacute;ria:</label> <select class="form-control" ng-model="u.idade.id" required
					ng-options="i.id as i.descricao for i in idades">
					<option value="">Selecione...</option>
				</select>
			</div>

			<div class="form-group">
				<label>Estado civil:</label> <select class="form-control" ng-model="u.estadoCivil.id" required
					ng-options="e.id as e.descricao for e in estadosCivis">
					<option value="">Selecione...</option>
				</select>
			</div>

			<div class="form-group">
				<label>Renda:</label> <select class="form-control" ng-model="u.renda.id" required ng-options="r.id as r.descricao for r in rendas">
					<option value="">Selecione...</option>
				</select>
			</div>

			<div class="form-group">
				<label>N&uacute;mero de filhos</label> <input class="form-control" type="number" value="0" min="0" ng-model="u.numeroFilhos">
			</div>

			<div class="form-group">
				<label>Dependentes diretos:</label> <input class="form-control" type="number" value="0" min="0" ng-model="u.numDependentesDiretos">
			</div>

			<fieldset class="form-group">
				<legend>Domic&iacute;lio eleitoral</legend>
				<div class="form-group">
					<label>Estado:</label> <select class="form-control" ng-change="listarCidadesDomicilioEleitoral()" ng-model="idEstadoDomicilioEleitoral"
						ng-options="e.id as e.nome for e in estados">
						<option value="">Selecione...</option>
					</select>
				</div>
				<div class="form-group">
					<label>Cidade:</label> <select class="form-control" ng-change="listarDomicilios()" ng-disabled="!idEstadoDomicilioEleitoral"
						ng-model="idCidadeDomicilioEleitoral" ng-options="c.id as c.nome for c in cidadesDomicilioEleitoral">
						<option value="">Selecione...</option>
					</select>
				</div>
				<div class="form-group">
					<label>Zona:</label> <select class="form-control" ng-disabled="!idCidadeDomicilioEleitoral" ng-model="u.domicilioEleitoral.id"
						ng-options="d.id as d.zona for d in domicilios">
						<option value="">Selecione...</option>
					</select>
				</div>
			</fieldset>

			<div class="form-group checkbox">
				<label><input type="checkbox" ng-model="u.servidorPublico"> Sou servidor p&uacute;blico</label>
			</div>
		</div>

		<div>
			<button type="button" class="btn btn-warning">Cancelar</button>
			<button type="submit" class="btn btn-primary">Salvar</button>
		</div>

	</form>
</div>
