<div class="container">

	<accordion close-others="false"> <accordion-group is-open="status.firstOpen"> <accordion-heading>
	<b>Consulta(s) P&uacute;blica(s) selecionada(s)</b> <i class="pull-right glyphicon"
		ng-class="{'glyphicon-chevron-down': status.firstOpen, 'glyphicon-chevron-right': !status.firstOpen}"></i></accordion-heading>
	<div ng-repeat="ap in aps">{{ap.n.toUpperCase()}}</div>
	</accordion-group> <accordion-group ng-if="filtro" is-open="status.secondOpen"> <accordion-heading> <b>Filtros</b>
	{{resumoFiltro()}} <i class="pull-right glyphicon"
		ng-class="{'glyphicon-chevron-down': status.secondOpen, 'glyphicon-chevron-right': !status.secondOpen}"></i> </accordion-heading>
	<div ng-bind-html="valoresFiltros()"></div>
	</accordion-group> </accordion>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<div class="row">
					<div class="col-md-9">
						<div>
							<b>Mapa de tem&aacute;ticas</b>
						</div>
						<div style="margin-top: 5px">
							<b>Palavras-chave: </b><span id="palavra_chave"></span>
						</div>
					</div>
					<div class="col-md-3">
						<button class="btn btn-info pull-right" style="margin-top: 5px" ng-click="listaTematicas()">
							<span class="glyphicon glyphicon-th-list" style="margin-right: 8px"></span>Visualizar proposi&ccedil;&otilde;es
						</button>
					</div>
				</div>
			</h4>
		</div>
		<div id="mapa" class="panel-body">
			<div ng-hide="mostrarAlerta" class="zoom btn-group btn-group-sm" role="group">
				<button id="zoom-scale" class="btn btn-default" ng-click="zoom('center')">{{currentScale * 100 | number:0}}%</button>
				<button type="button" class="btn btn-default" ng-click="zoom('out')">
					<span class="glyphicon glyphicon-minus"></span>
				</button>
				<button type="button" class="btn btn-default" ng-click="zoom('in')">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
			<alert ng-show="mostrarAlerta" type="warning">N&atilde;o foi poss&iacute;vel gerar gr&aacute;fico a partir da(s) palavra(s)-chave
			escolhida(s).</alert>
		</div>
	</div>

</div>
