<div ng-controller="HomeController">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<carousel interval="myInterval" no-wrap="noWrapSlides"> <slide ng-repeat="slide in slides" active="slide.active"> <img
					ng-src="{{slide.image}}" style="margin: auto;">
				<div class="carousel-caption">
					<p>{{slide.text}}</p>
				</div>
				</slide> </carousel>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h4>Saiba como usar o Portal da Partipa&ccedil;&atilde;o</h4>
						<p>Sed ut perspicatis unde omnis iste natus error sit voluptatem accusantium doleremque laudatium, totam rem aperiam, eaque ipsa
							quae ab illio.</p>
					</div>
					<iframe style="margin-left: 10%" width="265" height="160" allowfullscreen ng-src="http://www.youtube.com/embed/U8LM4C1l70U">
					</iframe>
					<!--  <img src="./img/home_logado_saude.PNG" alt="..."> -->
				</div>
			</div>
		</div>
		<br> <br>
		<div class="panel panel-default">
			<div class="panel-heading col-md-12">
				<h4 class="panel-title">CONSULTAS P&Uacute;BLICAS</h4>
			</div>

			<div class="panel-body">

				<div class="col-md-4">
					<br>
					<div style="display: inline-block; min-height: 290px;" ng-watch="aps">
						<datepicker ng-if="aps.length > 0" ng-model="filterDate.dataInicio" min-date="minDate" show-weeks="true" class="well well-sm"
							custom-class="getDayClass(date, mode)"></datepicker>
					</div>
				</div>

				<div class="col-md-8">
					<h4>{{filterDate.dataInicio| date: 'dd EEEE' | uppercase}}</h4>
					<div style="max-height: 300px; overflow: auto">
						<table class="table table-bordered table-hover .pre-scrollable" style="max-heigh: 200px">
							<thead>
								<th>C&oacute;digo</th>
								<th>Hor&aacute;rio</th>
								<th>Descri&ccedil;&atilde;o</th>
								<th>Proponente</th>
							</thead>
							<tbody>
								<tr ng-repeat="ap in aps | dateRange:filterDate.dataInicio:filterDate.dataEncerramento:'dataInicio' | orderBy: 'dataInicio'">
									<td>{{ap.codigo}}</td>
									<td>{{ap.dataInicio | date: 'hh:mm dd/MM/yy' }}</td>
									<td><b>{{ap.nome}}</b>: {{ap.descricao | limitTo: 100}} ...</td>
									<td>{{ap.criador.nome}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
