<div ng-controller="HomeController">
	<div class="container">
		<div class="row">

			<div class="col-md-12">

				<search-box title="Buscar Consultas P&uacute;blicas" placeholder="Nome ou descri&ccedil;&atilde;o" ng-model="filtro.texto">
				</search-box>

				<br />
				<div style="max-height: 500px; overflow: auto">
					<table class="table table-bordered table-hover .pre-scrollable" style="max-heigh: 200px">
						<thead>
							<tr>
								<th>C&oacute;digo</th>
								<th>Hor&aacute;rio</th>
								<th>Descri&ccedil;&atilde;o</th>
								<th>Gestor P&uacute;blico</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="ap in aps | filter: filtro | contains:tags:'tags':'id'  | orderBy: 'dataInicio'" ui-sref="ap.details({apId: ap.id})">
								<td>{{ap.codigo}}</td>
								<td>{{ap.dataInicio | date: 'hh:mm dd/MM/yy'}}</td>
								<td><b>{{ap.nome}}</b>: {{ap.descricao | limitTo: 100}} ...</td>
								<td>{{ap.criador.nome}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="col-md-4" hidden>
				<br> <br>
				<iframe width="365" height="260" ng-src="{{current_video.url_video}}"> </iframe>

				<h4>Tribuna P&uacute;blica</h4>

				<img ng-repeat="video in videos track by $index" style="padding: 5px; width: 175px; height: 90px;" ng-src="{{video.url_tumb}}"
					ng-click="selecionaVideo(video)"> <br ng-if="$index % 2 != 0">

			</div>
		</div>
		<br>
		<div class="row" hidden>
			<div class="col-md-12">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<h3 style="align: center">Seguran&ccedil;a</h3>
						<img src="./img/home_logado_seguranca.png" alt="...">
						<div class="caption">
							<p>"Sed ut perspicatis unde omnis iste natus error sit voluptatem accusantium doleremque laudatium, totam rem aperiam, eaque ipsa
								quae ab illio invetore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam Neom enim ipsam v velit."</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<h3 style="align: center">Educa&ccedil;&atilde;o</h3>
						<img src="./img/home_logado_educacao.PNG" alt="...">
						<div class="caption">
							<p>"Sed ut perspicatis unde omnis iste natus error sit voluptatem accusantium doleremque laudatium, totam rem aperiam, eaque ipsa
								quae ab illio invetore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam Neom enim ipsam v velit."</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<h3 style="align: center">Sa&uacute;de</h3>
						<img src="./img/home_logado_saude.PNG" alt="...">
						<div class="caption">
							<p>"Sed ut perspicatis unde omnis iste natus error sit voluptatem accusantium doleremque laudatium, totam rem aperiam, eaque ipsa
								quae ab illio invetore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam Neom enim ipsam v velit."</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
