<div ng-controller="ImportaProposicoesController" class="container">
	<p ng-if="hasPermission(Permissao.POLITICO)">
		N&atilde;o tem Consultas P&uacute;blicas cadastradas? <a ui-sref="ap.register">Clique aqui</a>
	</p>
	<form ng-submit="saveFile()">
		<div class="form-group">
			<label>Proponente:</label> <select class="form-control" ng-change="listarProponentes()" ng-model="idProponente" required
				ng-options="p.id as p.nome for p in proponentes | orderBy: 'nome'">
				<option value="">Selecione...</option>
			</select>
		</div>

		<div class="form-group">
			<label>Data cadastro:</label>
			<datepopup id="dataCadastro" ng-model="dataCadastro" ng-required="true" />
		</div>

		<div class="form-group">
			<label>Arquivo excel para importar proposi&ccedil;&otilde;es:</label> <input id="inputFiles" type="file"
				accept=".xls,.xlsx,.ods,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
			<p class="help-block">Apenas planilhas no formato XLS, XLSX e ODS</p>
		</div>
		<button type="submit" class="pull-right btn btn-primary">Importar</button>
	</form>
</div>