<div ng-controller="ImportaUsuariosController" class="container">
	<fieldset>
		<legend>Legenda</legend>
		<div class="row-fluid">
			<div class="col-md-3">
				<h4>Tipos Im&oacute;veis</h4>
				<dl>
					<dt ng-repeat="tipoImovel in tiposImovel">{{::tipoImovel.descricao}}</dt>
				</dl>
			</div>
			<div class="col-md-6">
				<h4>Escolaridades</h4>
				<dl class="dl-horizontal">
					<dt ng-repeat-start="escolaridade in escolaridades">{{::escolaridade.descricao}}</dt>
						<dd ng-repeat-end>{{::escolaridade.abreviatura}}</dd>
				</dl>
			</div>
			<div class="col-md-3">
				<h4>Sexo</h4>
				<dl class="dl-horizontal">
					<dt ng-repeat-start="sexo in Sexo">{{::sexo.label}}</dt>
						<dd ng-repeat-end>{{::sexo.resumo}}</dd>
				</dl>
			</div>
		</div>
	</fieldset>

	<form ng-submit="saveFile()">
		<div class="form-group">
			<label>Arquivo excel para importar usu&aacute;rios:</label> <input id="inputFiles" type="file"
				accept=".xls,.xlsx,.ods,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
			<p class="help-block">Apenas planilhas no formato XLS, XLSX e ODS</p>
		</div>
		<button type="submit" class="pull-right btn btn-primary">Importar</button>
	</form>
</div>