<div ng-controller="VisualizarApController">
	<div class="container">

		<div class="row">

			<div class="col-sm-9 col-md-9" ng-if="apSelecionada">
				<h3>Consulta P&uacute;blica</h3>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>C&oacute;digo</th>
							<th>Nome</th>
							<th>Descri&ccedil;&atilde;o</th>
							<th>Status</th>
							<th>Cria&ccedil;&atilde;o</th>
							<th>In&iacute;cio</th>
							<th>Encerramento</th>
							<th>Gestor P&uacute;blico</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{apSelecionada.codigo}}</td>
							<td>{{apSelecionada.nome}}</td>
							<td>{{apSelecionada.descricao}}</td>
							<td>{{apSelecionada.status.nome}}</td>
							<td>{{apSelecionada.dataCriacao | date: 'hh:mm dd/MM/yy'}}</td>
							<td>{{apSelecionada.dataInicio | date: 'hh:mm dd/MM/yy'}}</td>
							<td>{{apSelecionada.dataEncerramento | date: 'hh:mm dd/MM/yy'}}</td>
							<td>{{apSelecionada.criador.nome}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-sm-9 col-md-9">
				<button type="button" class="btn btn-default pull-right" ng-click="novaProposicao()">Comente sobre a CP</button>
			</div>

			<div class="col-sm-9 col-md-9" ng-if="proposicoes.length">
				<br>
				<h4>Suas proposi&ccedil;&otilde;es para esta CP</h4>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Data Cadastro</th>
							<th>Proposi&ccedil;&atilde;o</th>
							<th>Opini&atilde;o conte&uacute;do</th>
							<th>Sugest&otilde;es tem&aacute;ticas</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="p in proposicoes">

							<td>{{p.dataCadastro | date: 'dd/MM/yy'}}</td>
							<td>{{p.texto}}</td>
							<td>{{p.opiniaoConteudoAp}}</td>
							<td>
								<ul>
									<li ng-repeat="t in p.sugestaoTematicas">{{t.nome}}</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
