<div ng-controller="ListaApController" class="container" ng-init="currentPage = 0; showAll = false;">
	<search-box title="Buscar Consultas P&uacute;blicas" placeholder="Nome ou descri&ccedil;&atilde;o" ng-model="filtro.texto">
	<form class="form-horizontal" role="form">

		<div class="form-group">
			<div class="col-md-3 checkbox">
				<label class="form-control-lg-2"><input class="form-control-md-1" type="checkbox" for="filtroCodigo"> C&oacute;digo</label>
			</div>
			<div class="col-md-9">
				<input id="filtroCodigo" type="text" class="form-control" ng-model="filtro.codigo">
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-3 checkbox">
				<label class="form-control-lg-2" for="filtroInicio"><input id="filtroInicio" class="form-control-md-1" type="checkbox">
					In&iacute;cio</label>
			</div>
			<div class="form-inline col-md-9">
				<div class="form-group" style="padding-left: 15px">
					<label class="form-control-lg-2">De</label>
					<datepopup id="inicio" ng-model="inicio.de" />
				</div>
				<div class="form-group" style="padding-left: 15px">
					<label class="form-control-lg-2">at&eacute;</label>
					<datepopup id="inicio" ng-model="inicio.ate" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-3 checkbox">
				<label class="form-control-lg-2" for="filtroEncerramento"><input id="filtroEncerramento" class="form-control-md-1"
					type="checkbox">Encerramento</label>
			</div>
			<div class="form-inline col-md-9">
				<div class="form-group" style="padding-left: 15px">
					<label class="form-control-lg-2">De</label>
					<datepopup id="encerramento" ng-model="encerramento.de" />
				</div>
				<div class="form-group" style="padding-left: 15px">
					<label class="form-control-lg-2">at&eacute;</label>
					<datepopup id="encerramento" ng-model="encerramento.ate" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-3 checkbox">
				<label class="form-control-lg-2" for="filtroStatus"><input id="filtroStatus" class="form-control-md-1" type="checkbox">
					Status</label>
			</div>
			<div class="col-md-9">
				<select id="filtroStatus" ng-change="verificaRemoverFiltro('status', 'status.id')" class="form-control" ng-model="filtro.status.id"
					convert-to-number ng-options="s.id as s.nome for s in statuses">
					<option value="">Todos</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-3 checkbox">
				<label class="form-control-lg-2" for="filtroTags"><input id="filtroTags" class="form-control-md-1" type="checkbox"> Tags</label>
			</div>
			<div class="col-md-9">
				<tags-input ng-model="tags" display-property="valor" add-from-autocomplete-only="true">
				<auto-complete source="todasTags"></auto-complete> </tags-input>
			</div>
		</div>

	</form>
	</search-box>
	<br />
	<div class="row">
		<div class="col-md-3">
			<h4>Escolha as op&ccedil;&otilde;es de an&aacute;lise</h4>
		</div>
		<div class="col-md-4 pull-right">
			<button class="btn btn-success btn-sm" style="width: 100%;" ng-click="avancar()" ng-disabled="!podeAvancar()">Visualizar
				An&aacute;lise dos Proponentes</button>
		</div>
	</div>
	<br>
	<div class="panel-footer clearfix">
		<div class="pp-pagination" ng-show="filteredAps.length > ITEMS_PER_PAGE" style="margin-left: 45%;">
			<button class="btn btn-link btn-xs" ng-disabled="currentPage <= 0" ng-click="currentPage = currentPage-1">
				<span class="glyphicon glyphicon-backward"></span>
			</button>
			<button ng-repeat="pageNumber in indexArray track by $index" class="btn btn-link btn-xs" ng-disabled="$parent.currentPage == $index"
				ng-click="$parent.currentPage = $index">{{::$index+1}}</button>
			<button class="btn btn-link btn-xs" ng-disabled="currentPage >= (filteredAps.length/ITEMS_PER_PAGE)-1"
				ng-click="currentPage = currentPage+1">
				<span class="glyphicon glyphicon-forward"></span>
			</button>
		</div>
	</div>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th ng-click="updateSorting('codigo')">C&oacute;digo <span class="glyphicon" ng-class="updateSortIcon('codigo')"> </span>
				</th>
				<th ng-click="updateSorting('dataInicio')">Data in&iacute;cio <span class="glyphicon" ng-class="updateSortIcon('dataInicio')">
				</span>
				</th>
				<th ng-click="updateSorting('dataEncerramento')">Data encerramento <span class="glyphicon"
					ng-class="updateSortIcon('dataEncerramento')"> </span>
				</th>
				<th ng-click="updateSorting('nome')">Descri&ccedil;&atilde;o <span class="glyphicon" ng-class="updateSortIcon('nome')"> </span>
				</th>
				<th ng-click="updateSorting('status.nome')">Status <span class="glyphicon" ng-class="updateSortIcon('status.nome')"> </span>
				</th>
				<th ng-click="updateSorting('numProposicoes')">N&uacute;mero de proposi&ccedil;&otilde;es <span class="glyphicon"
					ng-class="updateSortIcon('numProposicoes')"> </span>
				</th>
				<th>A&ccedil;&otilde;es</th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="ap in filteredAps = (aps | filter:filtro | dateRange:inicio.de:inicio.ate:'dataInicio' | dateRange:encerramento.de:encerramento.ate:'dataEncerramento' | contains:tags:'tags':'id' | orderBy:ordination:desc) | startFrom:beginList(currentPage, showAll) | limitTo:endList(filteredAps, showAll)"
				ng-click="selecionaAp(ap)" ng-class="{selected: ap.selected}">
				<td>{{ap.codigo}}</td>
				<td>{{ap.dataInicio | date: 'dd/MM/yyyy'}}</td>
				<td>{{ap.dataEncerramento | date: 'dd/MM/yyyy'}}</td>
				<td><b>{{ ap.nome}}</b>: {{ap.descricao | limitTo: 100}} ...</td>
				<td>{{ap.status.nome}}</td>
				<td>{{ap.numProposicoes}}</td>
				<td class="actions actions-3"><div class="btn-group" role="group" ng-show="ap.criador.id === currentUser.id">
						<a class="btn btn-primary" ui-sref="ap.dictionary({apId: ap.id})" title="Configurar dicion&aacute;rio de termos"><span
							class="glyphicon glyphicon-wrench"></span></a> <a class="btn btn-default" ui-sref="ap.register({apId: ap.id})" title="Editar"> <span
							class="glyphicon glyphicon-pencil"></span>
						</a>
						<button class="btn btn-danger" ng-click="removerAp(ap.id)" title="Excluir">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</div></td>
			</tr>
		</tbody>
	</table>
	<div class="panel-footer clearfix">
		<div class="pp-pagination" ng-show="filteredAps.length > ITEMS_PER_PAGE" style="margin-left: 45%;">
			<button class="btn btn-link btn-xs" ng-disabled="currentPage <= 0" ng-click="currentPage = currentPage-1">
				<span class="glyphicon glyphicon-backward"></span>
			</button>
			<button ng-repeat="pageNumber in indexArray track by $index" class="btn btn-link btn-xs" ng-disabled="$parent.currentPage == $index"
				ng-click="$parent.currentPage = $index">{{::$index+1}}</button>
			<button class="btn btn-link btn-xs" ng-disabled="currentPage >= (filteredAps.length/ITEMS_PER_PAGE)-1"
				ng-click="currentPage = currentPage+1">
				<span class="glyphicon glyphicon-forward"></span>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 pull-right">
			<button class="btn btn-success btn-sm" style="width: 100%;" ng-click="avancar()" ng-disabled="!podeAvancar()">Visualizar
				An&aacute;lise dos Proponentes</button>
		</div>
	</div>
</div>