<div class="container">

	<div class="row">
		<div class="col-md-9">
			<label>Palavras-chave relacionadas:</label>
			<div class="form-inline">
				<div class="col-md-7 form-group style="padding-left: 0px;">
					<tags-input ng-model="selectedKeywords"> <auto-complete source="filterKeys('keywords', $query)"></auto-complete> </tags-input>
				</div>
				<div class="form-group">
					<i class="pull-right glyphicon glyphicon-refresh spin" ng-show="keywords == null"></i>
				</div>
			</div>
		</div>

		<br> <br>
		<div class="col-md-3 pull-right">
			<br>
			<button type="submit" ng-click="mostrarCluster()" class="btn btn-info pull-right" ng-disabled="!podeMostrarCluster()">
				<span class="glyphicon glyphicon-list"></span> Visualizar An&aacute;lise das Proposi&ccedil;&otilde;es
			</button>
			<br> <br>
		</div>
		<br>
	</div>

	<accordion close-others="false" class="filtro"> <accordion-group is-open="status.firstOpen"> <accordion-heading>
	<b>Consulta(s) P&uacute;blica(s) selecionada(s)</b> <i class="pull-right glyphicon"
		ng-class="{'glyphicon-chevron-down': status.firstOpen, 'glyphicon-chevron-right': !status.firstOpen}"></i></accordion-heading>
	<div ng-repeat="ap in aps">{{ap.nome.toUpperCase()}}</div>
	</accordion-group> <accordion-group is-open="status.filtersOpen"> <accordion-heading> <b>Filtros de Perfil Social</b>
	{{resumoFiltro()}} <i class="pull-right glyphicon"
		ng-class="{'glyphicon-chevron-down': status.filtersOpen, 'glyphicon-chevron-right': !status.filtersOpen}"></i> </accordion-heading> <tabset> <tab>
	<tab-heading> <span ng-show="Filtro.BAIRRO.filterCondition()" class="glyphicon glyphicon-asterisk"></span> Endere&ccedil;o</tab-heading>
	<div class="form-inline">
		<div class="form-group">
			<label>Estado:</label> <select class="form-control" ng-change="listarCidadesResidencial()" ng-model="data.idEstadoResidencial"
				ng-options="e.id as e.nome for e in estados">
				<option value="">Selecione...</option>
			</select>
		</div>
		<div class="form-group">
			<label>Cidade:</label> <select class="form-control" ng-change="listarBairrosResidencial()" ng-disabled="!data.idEstadoResidencial"
				ng-model="data.idCidadeResidencial" ng-options="c.id as c.nome for c in cidadesResidencial">
				<option value="">Selecione...</option>
			</select>
		</div>
		<div class="form-group">
			<label>Bairro:</label> <select class="form-control" ng-disabled="!data.idCidadeResidencial" ng-model="filtro.proponente.bairro"
				ng-options="b as b.nome for b in bairrosResidencial track by b.id">
				<option value="">Selecione...</option>
			</select>
		</div>
	</div>
	</tab> <tab> <tab-heading> <span ng-show="Filtro.TEMPO_DOMICILIO.filterCondition()" class="glyphicon glyphicon-asterisk"></span>
	Tempo de domic&iacute;lio</tab-heading>
	<div class="form-inline">
		<select class="form-control" ng-model="filtro.proponente.tempoDomicilio"
			ng-options="t as t.descricao for t in temposDomicilio track by t.id">
			<option value="">Selecione...</option>
		</select>
	</div>
	</tab> <tab> <tab-heading> <span ng-show="Filtro.TIPO_IMOVEL.filterCondition()" class="glyphicon glyphicon-asterisk"></span>
	Tipo de im&oacute;vel</tab-heading>
	<div class="form-inline">
		<select class="form-control" ng-model="filtro.proponente.tipoImovel" ng-options="t as t.descricao for t in tiposImovel track by t.id">
			<option value="">Selecione...</option>
		</select>
	</div>
	</tab> <tab> <tab-heading> <span ng-show="Filtro.DOMICILIO_ELEITORAL.filterCondition()" class="glyphicon glyphicon-asterisk"></span>
	Domic&iacute;lio eleitoral</tab-heading>
	<div class="form-inline">
		<div class="form-group">
			<label>Estado:</label> <select class="form-control" ng-change="listarCidadesDomicilioEleitoral()"
				ng-model="data.idEstadoDomicilioEleitoral" ng-options="e.id as e.nome for e in estados">
				<option value="">Selecione...</option>
			</select>
		</div>
		<div class="form-group">
			<label>Cidade:</label> <select class="form-control" ng-change="listarDomicilios()" ng-disabled="!data.idEstadoDomicilioEleitoral"
				ng-model="data.idCidadeDomicilioEleitoral" ng-options="c.id as c.nome for c in cidadesDomicilioEleitoral">
				<option value="">Selecione...</option>
			</select>
		</div>
		<div class="form-group">
			<label>Zona:</label> <select class="form-control" ng-disabled="!data.idCidadeDomicilioEleitoral"
				ng-model="filtro.proponente.domicilioEleitoral" ng-options="d as d.zona for d in domicilios track by d.id">
				<option value="">Selecione...</option>
			</select>
		</div>
	</div>
	</tab> <tab> <tab-heading> <span ng-show="Filtro.CIDADE_NATAL.filterCondition()" class="glyphicon glyphicon-asterisk"></span>
	Cidade natal</tab-heading>
	<div class="form-inline">
		<div class="form-group">
			<label>Estado:</label> <select class="form-control" ng-change="listarCidadesNaturalidade()" ng-model="data.idEstadoNaturalidade"
				ng-options="e.id as e.nome for e in estados">
				<option value="">Selecione...</option>
			</select>
		</div>
		<div class="form-group">
			<label>Cidade:</label> <select class="form-control" ng-disabled="!data.idEstadoNaturalidade" ng-model="filtro.proponente.cidadeNatal"
				ng-options="c as c.nome for c in cidadesNaturalidade track by c.id">
				<option value="">Selecione...</option>
			</select>
		</div>
	</div>
	</tab> <tab> <tab-heading> <span ng-show="Filtro.SEXO.filterCondition()" class="glyphicon glyphicon-asterisk"></span> Sexo</tab-heading>
	<div class="form-inline">
		<select class="form-control" ng-model="filtro.proponente.sexo" ng-options="s.value as s.label for s in Sexo">
			<option value="">Selecione...</option>
		</select>
	</div>
	</tab> <tab> <tab-heading> <span ng-show="Filtro.ESCOLARIDADE.filterCondition()" class="glyphicon glyphicon-asterisk"></span>
	Escolaridade</tab-heading>
	<div class="form-inline">
		<select class="form-control" ng-model="filtro.proponente.escolaridade" ng-options="e as e.descricao for e in escolaridades track by e.id">
			<option value="">Selecione...</option>
		</select>
	</div>
	</tab> <tab> <tab-heading> <span ng-show="Filtro.IDADE.filterCondition()" class="glyphicon glyphicon-asterisk"></span> Idade</tab-heading>
	<div class="form-inline">
		<select class="form-control" ng-model="filtro.proponente.idade" ng-options="i as i.descricao for i in idades track by i.id">
			<option value="">Selecione...</option>
		</select>
	</div>
	</tab> <tab heading="Estado civil"> <tab-heading> <span ng-show="Filtro.ESTADO_CIVIL.filterCondition()"
		class="glyphicon glyphicon-asterisk"></span> Estado civil</tab-heading>
	<div class="form-inline">
		<select class="form-control" ng-model="filtro.proponente.estadoCivil" ng-options="e as e.descricao for e in estadosCivis track by e.id">
			<option value="">Selecione...</option>
		</select>
	</div>
	</tab> <tab> <tab-heading> <span ng-show="Filtro.RENDA.filterCondition()" class="glyphicon glyphicon-asterisk"></span> Renda</tab-heading>
	<div class="form-inline">
		<select class="form-control" ng-model="filtro.proponente.renda" ng-options="r as r.descricao for r in rendas track by r.id">
			<option value="">Selecione...</option>
		</select>
	</div>
	</tab> <tab> <tab-heading> <span ng-show="Filtro.NUMERO_FILHOS.filterCondition()" class="glyphicon glyphicon-asterisk"></span>
	N&uacute;mero de filhos</tab-heading>
	<div class="row">
		<div class="checkbox col-md-2">
			<label for="chkNumFilhos"><input id="chkNumFilhos" type="checkbox" ng-change="unbindFilter(Filtro.NUMERO_FILHOS, 'nsNumFilhos')"
				ng-model="data.filtrarFilhos"> Habilitar</label>
		</div>
		<div class="form-inline col-md-10">
			<input class="form-control" id="nsNumFilhos" type="number" value="0" min="0" ng-model="filtro.proponente.numFilhos">
		</div>
	</div>
	</tab> <tab> <tab-heading> <span ng-show="Filtro.NUMERO_DEPENDENTES_DIRETOS.filterCondition()"
		class="glyphicon glyphicon-asterisk"></span> N&uacute;mero de dependentes</tab-heading>
	<div class="row">
		<div class="checkbox col-md-2">
			<label for="chkNumDependentes"> <input id="chkNumDependentes" type="checkbox"
				ng-change="unbindFilter(Filtro.NUMERO_DEPENDENTES_DIRETOS, 'nsNumDependentes')" ng-model="data.filtrarDependentesDiretos">
				Habilitar
			</label>
		</div>

		<div class="form-inline col-md-10">
			<input class="form-control" id="nsNumDependentes" type="number" value="0" min="0" ng-model="filtro.proponente.numDependentesDiretos">
		</div>
	</div>
	</tab> <tab> <tab-heading> <span ng-show="Filtro.SERVIDOR_PUBLICO.filterCondition()" class="glyphicon glyphicon-asterisk"></span>
	Servidor p&uacute;blico</tab-heading>
	<div class="form-inline">
		<select class="form-control" ng-model="filtro.proponente.servidorPublico" ng-options="o.value as o.label for o in OpcoesBoolean">
			<option value="">Selecione...</option>
		</select>
	</div>
	</tab> <tab> <tab-heading> <span ng-show="Filtro.POSSUI_CPF.filterCondition()" class="glyphicon glyphicon-asterisk"></span>
	Possui CPF</tab-heading>
	<div class="form-inline">
		<select class="form-control" ng-model="filtro.proponente.possuiCPF" ng-options="o.value as o.label for o in OpcoesBoolean">
			<option value="">Selecione...</option>
		</select>
	</div>
	</tab> </tabset> </accordion-group> <accordion-group is-open="charts.show" is-disabled="!charts"> <accordion-heading> <b>Gr&aacute;ficos
		dos Proponentes</b> <i class="pull-right glyphicon"
		ng-class="{'glyphicon-chevron-down': charts.show, 'glyphicon-chevron-right': !charts.show && !!charts, 'glyphicon-refresh spin' : !charts}"></i>
	</accordion-heading>
	<div class="row">
		<div class="col-md-6 chart-item even" style="height: 55px;"></div>
		<div class="col-md-6 chart-item odd" style="height: 55px;">
			<button class="btn btn-info pull-right" ng-click="updateCharts()">
				<span class="glyphicon glyphicon-refresh" ng-class="{'spin': currentFilterUpdateOperation}"></span> Atualizar Gr&aacute;ficos
				Estat&iacute;sticos
			</button>
		</div>
	</div>
	<div ng-repeat-start="pair in chartsInPairs" class="row" style="white-space: nowrap;" ng-show="charts.show">
		<highchart ng-repeat="c in pair" class="col-md-6 chart-item" ng-class="::{'even': $even, 'odd': $odd}" style="display: inline-block;"
			config="c.config" ng-show="c.show"></highchart>
	</div>
	<hr class="chart-divider" ng-if="::!$last" ng-repeat-end>
	</accordion-group> </accordion>

</div>
