<div class="container">

	<accordion close-others="false"> <accordion-group is-open="status.firstOpen"> <accordion-heading>
	<b>Consulta(s) P&uacute;blica(s) selecionada(s)</b> <i class="pull-right glyphicon"
		ng-class="{'glyphicon-chevron-down': status.firstOpen, 'glyphicon-chevron-right': !status.firstOpen}"></i></accordion-heading>
	<div ng-repeat="ap in aps">{{ap.n.toUpperCase()}}</div>
	</accordion-group> <accordion-group ng-if="filtro" is-open="status.secondOpen"> <accordion-heading> <b>Filtros</b>
	{{resumoFiltro()}} <i class="pull-right glyphicon"
		ng-class="{'glyphicon-chevron-down': status.secondOpen, 'glyphicon-chevron-right': !status.secondOpen}"></i> </accordion-heading>
	<div ng-bind-html="valoresFiltros()"></div>
	</accordion-group> </accordion>


	<div class="panel panel-default">

		<div class="panel-body">
			<p>
				<b>N&uacute;mero de Proposi&ccedil;&otilde;es Encontradas: </b>{{resposta.response.numFound}}
			</p>
			<p>
				<b>Score M&aacute;ximo: </b>{{::1 | number:3}}
			</p>
		</div>

		<div class="panel-footer clearfix">
	       <div class="pp-pagination" ng-show="resposta.response.docs.length > ITEMS_PER_PAGE" style="margin-left: 45%;">
	           <button class="btn btn-link btn-xs" ng-disabled="currentPage <= 0"
	                   ng-click="currentPage = currentPage-1">
	               <span class="glyphicon glyphicon-backward"></span>
	           </button>
	           <button ng-repeat="pageNumber in indexArray track by $index" class="btn btn-link btn-xs"
	                   ng-disabled="$parent.currentPage == $index" ng-click="$parent.currentPage = $index">
	               {{::$index+1}}
	           </button>
	           <button class="btn btn-link btn-xs"
	                   ng-disabled="currentPage >= (resposta.response.docs.length/ITEMS_PER_PAGE)-1"
	                   ng-click="currentPage = currentPage+1">
	               <span class="glyphicon glyphicon-forward"></span>
	           </button>
	       </div>
	    </div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th ng-click="updateSorting('textoApres')" >Texto
						<span class="glyphicon" ng-class="updateSortIcon('textoApres')"> </span>
					</th>
					<th ng-click="updateSorting('dscBairro')" >Resid&ecirc;ncia
						<span class="glyphicon" ng-class="updateSortIcon('dscBairro')"> </span>
					</th>
					<th ng-click="updateSorting('sexo')" >Sexo
						<span class="glyphicon" ng-class="updateSortIcon('sexo')"> </span>
					</th>
					<th ng-click="updateSorting('dscEscolaridade')" >Escolaridade
						<span class="glyphicon" ng-class="updateSortIcon('dscEscolaridade')"> </span>
					</th>
					<th ng-click="updateSorting('dscFaixaEtaria')" >Faixa et&aacute;ria
						<span class="glyphicon" ng-class="updateSortIcon('dscFaixaEtaria')"> </span>
					</th>
					<th ng-click="updateSorting('score')" >Score
						<span class="glyphicon" ng-class="updateSortIcon('score')"> </span>
					</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="p in resposta.response.docs | orderBy:ordination:desc | startFrom:beginList(currentPage, showAll) | limitTo:endList(resposta.response.docs, showAll)" popover-template="'popover-tematica.tpl.html'" popover-trigger="mouseenter">
					<td><div>
							<button class="btn btn-info pull-right" ng-click="toggleLimit(p)">
								<span class="glyphicon" ng-class="getIcon(p)"></span>
							</button>
							<p>{{ getTexto(p.textoApres[0]) | limitTo: limit(p)}}</p>
						</div></td>
					<td>{{p.dscBairro}}</td>
					<td>{{::getGender(p.sexo)}}</td>
					<td>{{p.dscEscolaridade}}</td>
					<td>{{p.dscFaixaEtaria}}</td>
					<td>{{::getScore(p.score) | number:3}}</td>
				</tr>
			</tbody>

		</table>
		<div class="panel-footer clearfix">
	       <div class="pp-pagination" ng-show="resposta.response.docs.length > ITEMS_PER_PAGE" style="margin-left: 45%;">
	           <button class="btn btn-link btn-xs" ng-disabled="currentPage <= 0"
	                   ng-click="currentPage = currentPage-1">
	               <span class="glyphicon glyphicon-backward"></span>
	           </button>
	           <button ng-repeat="pageNumber in indexArray track by $index" class="btn btn-link btn-xs"
	                   ng-disabled="$parent.currentPage == $index" ng-click="$parent.currentPage = $index">
	               {{::$index+1}}
	           </button>
	           <button class="btn btn-link btn-xs"
	                   ng-disabled="currentPage >= (resposta.response.docs.length/ITEMS_PER_PAGE)-1"
	                   ng-click="currentPage = currentPage+1">
	               <span class="glyphicon glyphicon-forward"></span>
	           </button>
	       </div>
	    </div>
	</div>

</div>

<script type="text/ng-template" id="popover-tematica.tpl.html">
<b>Naturalidade: </b>
{{p.dscCidadeNatal}}
<br />
<b>Estado civil: </b>
{{p.dscEstadoCivil}}
<br />
<b>Renda: </b>
{{p.dscRenda}}
<br />
<b>N&uacute;mero de filhos: </b>
{{::p.numFilhos}}
<br />
<b>Tipo de im&oacute;vel: </b>
{{p.dscTipoImovel}}
<br />
<b>Domic&iacute;lio eleitoral (Zona): </b>
{{p.dscZona}}
<br />
<b>Servidor p&uacute;blico: </b>
{{::getBoolean(p.servidorPublico)}}
<br />
<b> N&oacute;s:</b>
{{::getNodes(p.id)}}
<br/>
</script>
