<div class="container">

	<dictionary-list ng-model="termos" fn-valid="setValid(true)" fn-invalid="setValid(false)" fn-update="updateDescription" attr-valid="validoParaCp"
		attr-description="termoAudienciaPublicaPk.termo.descricao"></dictionary-list>

</div>
