<form ng-submit="exportar()">
	<div class="modal-header">
		<h3 class="modal-title">C&oacute;digos para Exporta&ccedil;&atilde;o</h3>
	</div>
	<div class="modal-body">
		<div class="form-field-wrapper">
			<label>C&oacute;digo da Consulta P&uacute;blica referente &agrave; <b>Resposta 1</b></label> <input type="text"
				class="input-sm form-full" ng-model="data.codigos[0]" required>
		</div>
		<div class="form-field-wrapper">
			<label>C&oacute;digo da Consulta P&uacute;blica referente &agrave; <b>Resposta 2</b></label> <input type="text"
				class="input-sm form-full" ng-model="data.codigos[1]" required>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-md btn-primary form-full" type="submit" ng-disabled="form.$invalid">Exportar</button>
	</div>
</form>
