<!DOCTYPE html>
<html ng-app="app">
<head>

<meta charset="utf-8" />
<title>Florianópolis Melhor</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="rafaelsperoni">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

<!-- Favicone Icon -->
<link rel="icon" type="image/png" href="./img/geracao_csv/favicon.png">
<link rel="apple-touch-icon" href="./img/geracao_csv/favicon.png">

<!-- CSS -->
<link href="./css/geracao_csv/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="./webjars/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="./webjars/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="./css/geracao_csv/plugin/jPushMenu.css" rel="stylesheet" type="text/css">
<link href="./css/geracao_csv/plugin/animate.css" rel="stylesheet" type="text/css">
<link href="./css/geracao_csv/jquery-ui.css" rel="stylesheet" type="text/css">
<link href="./css/geracao_csv/estilo.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Arimo' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="./webjars/ng-tags-input/3.0.0/build/ng-tags-input.min.css">
<link rel="stylesheet" href="./webjars/ng-tags-input/3.0.0/build/ng-tags-input.bootstrap.min.css">

</head>

<body ng-controller="GeracaoCsvController" class="full-intro background--dark push-body">

	<!-- Preloader -->
	<section id="preloader">
		<div class="loader" id="loader">
			<img src="./img/geracao_csv/loading.GIF"></img>
		</div>
	</section>
	<!-- End Preloader -->

	<!-- Sidemenu -->
	<section class="side-menu cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
		<a class="menu-close toggle-menu menu-right push-body"><i class="fa fa-times"></i></a>
		<h5 class="white">Login</h5>
		<div class="sign-in">
			<form ng-submit="login()">
				<input class="input-sm form-full" type="text" placeholder="Nome de usuário" ng-model="user.username"> <input
					class="input-sm form-full" type="password" placeholder="Senha" ng-model="user.password">
				<button type="submit" class="btn btn-md btn-color-b form-full">Login</button>
			</form>
		</div>
	</section>
	<!--End Sidemenu -->

	<!-- Site Wraper -->
	<div class="wrapper">

		<!-- HEADER -->
		<header class="header fundo-nav">
			<div class="container">

				<!-- logo -->
				<div class="logo logo-portal">
					<a href=""> <img class="l-black" src="./img/geracao_csv/logomarca.png"> <img class="l-white"
						src="./img/geracao_csv/logomarca.png"> <img class="l-color" src="./img/geracao_csv/logomarca.png">
					</a>
				</div>
				<!-- End logo Navigation Menu -->
				<nav class="navigation">
					<ul>
						<li><a href="#">Início</a></li>
						<li class="nav-has-sub"><a href="#sobre">Sobre</a>
							<ul class="nav-dropdown">
								<li><a href="#quem-pode-usar">Quem Pode Usar</a></li>
								<li><a href="#ferramentas">Ferramentas</a></li>
							</ul></li>
						<li class="nav-has-sub"><a>Consultas</a>
							<ul class="nav-dropdown">
								<li><a href="#estatisticas">Estatísticas</a></li>
								<li><a href="#datas-importantes">Datas Importantes</a></li>
							</ul></li>
						<li><a href="#contato">Contato</a></li>
						<li ng-show="user.authenticated"><a ng-click="logout()">Logout</a></li>
						<li ng-show="!user.authenticated"><a class="right-icon bar-icon toggle-menu menu-right push-body">Login</a></li>
					</ul>
				</nav>
				<!-- End Navigation Menu -->

			</div>
		</header>
		<!-- END HEADER -->

		<!-- CONTENT -->
		<div class="ptb-80"></div>
		<div id="principal" class="container" ng-switch="user.authenticated">

			<div ng-switch-when="true">

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							RESPOSTAS ({{entradas.length}}) <a href="#" ng-click="exportToExcel()" title="Exportar apenas respostas"><i
								class="fa fa-download pull-right"></i></a> <a href="./entradacsv/xls" target="_blank" title="Exportar para XLS"><i
								class="fa fa-file-excel-o pull-right"></i></a> <a href="./entradacsv/pdf" target="_blank" title="Exportar para PDF"><i
								class="fa fa-file-pdf-o pull-right"></i></a>
						</h4>
					</div>
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Bairro</th>
								<th>Faixa Et&aacute;ria</th>
								<th>Resposta 1</th>
								<th>Resposta 2</th>
								<th>Email</th>
								<th>WhatsApp</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="entrada in entradas">
								<td>{{entrada.nome}}</td>
								<td>{{entrada.bairro.nomeApresentacao}}</td>
								<td>{{entrada.idade.descricao}}</td>
								<td popover="{{entrada.resposta1}}" popover-trigger="mouseenter" popover-placement="left" popover-append-to-body="true">{{entrada.resposta1
									| limitTo:20}}...</td>
								<td popover="{{entrada.resposta2}}" popover-trigger="mouseenter" popover-placement="left" popover-append-to-body="true">{{entrada.resposta2
									| limitTo:20}}...</td>
								<td>{{entrada.email}}</td>
								<td style="text-align: right;">{{entrada.whatsapp}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="row" ng-switch-default>
				<div id="esquerdo" class="col-md-8">
					<form name="form" ng-submit="salvar()" ng-init="passo = 1;">

						<div class="panel panel-default" ng-show="passo == 1">
							<div class="panel-heading">
								<h4 class="panel-title">COLABORE COM SUA OPINIÃO</h4>
							</div>
							<div class="panel-body">

								<div class="form-field-wrapper">
									<label for="cp1">Na sua opinião, o que está faltando para melhorar Florianópolis?</label>
									<textarea class="form-full" name="cp1" rows="10" ng-model="resposta.resposta1"></textarea>
								</div>

								<div class="form-field-wrapper">
									<label for="cp1">Se você fosse prefeito, o que faria para melhorar seu bairro?</label>
									<textarea class="form-full" name="cp2" rows="10" ng-model="resposta.resposta2"></textarea>
								</div>

								<button class="btn btn-md btn-primary form-full" type="button" ng-disabled="!podeAvancar()" ng-click="passo = 2;">Continuar</button>

							</div>
						</div>

						<div class="panel panel-default" ng-show="passo == 2">
							<div class="panel-heading col-md-12">
								<h4 class="panel-title">DEIXE-NOS SABER MAIS SOBRE VOCÊ</h4>
							</div>
							<div class="panel-body">

								<div class="form-field-wrapper">
									<label for="email">E-mail *</label> <input class="input-md form-full" name="email" type="email" ng-model="resposta.email" required>
								</div>

								<div class="form-field-wrapper">
									<label for="nome">Nome *</label> <input class="input-md form-full" name="nome" type="text" ng-model="resposta.nome" required>
								</div>

								<div class="form-field-wrapper">
									<label for="idade">Faixa Etária</label><select class="input-md form-full" name="idade" ng-model="resposta.idade.id"
										ng-options="i.id as i.descricao for i in idades">
										<option value="">Selecione...</option>
									</select>
								</div>

								<div class="form-field-wrapper">
									<label for="whatsapp">WhatsApp</label><input class="input-md form-full" mask="(99) 9?9999-9999" name="whatsapp" type="text"
										ng-model="resposta.whatsapp">
								</div>

								<div class="form-field-wrapper">
									<label for="cidade">Cidade</label><select class="input-md form-full" name="cidade" ng-model="data.idCidade"
										ng-change="listarBairros()" ng-options="c.id as c.nome for c in cidades">
										<option value="">Selecione...</option>
									</select>
								</div>

								<div class="form-field-wrapper">
									<label for="bairro">Bairro *</label><select class="input-md form-full" name="bairro" ng-model="resposta.bairro"
										ng-options="b as b.nome for b in bairros" required>
										<option value="">Selecione...</option>
									</select>
								</div>

								<div class="form-field-wrapper">
									<div re-captcha ng-model="data.captcha"></div>
								</div>

								<div class="row">
									<div class="col-md-2">
										<button class="btn btn-md btn-warning" type="button" ng-click="passo = 1;">Voltar</button>
									</div>
									<div class="col-md-10">
										<button class="btn btn-md btn-primary form-full" type="submit" ng-disabled="form.$invalid || data.pending">
											Enviar <i class="fa fa-refresh fa-spin" ng-show="data.pending"></i>
										</button>
									</div>
								</div>

							</div>
						</div>

					</form>
				</div>
				<div id="direito" class="col-md-4">
					<div class="thumbnail text-center">
						<div class="caption">
							<h4>Participe!</h4>
							<p>Diga o que deseja para sua cidade!</p>
						</div>
						<iframe width="265" height="160" src="https://www.youtube.com/embed/8Xu5NIO_wrU" frameborder="0" allowfullscreen=""></iframe>
					</div>

				</div>
			</div>

		</div>

		<!-- FOOTER -->
		<footer id="contato" class="footer pt-20">
			<!-- Copyright Bar -->
			<section class="copyright ptb-60">
				<div class="container">
					<div class="row">
						<h4>Desenvolvido por:</h4>
						<div class="col-md-4">
							<a href="http://cad.ufsc.br/"><img src="./img/geracao_csv/logo_cad.png"> </a>
						</div>
						<a href="http://cad.ufsc.br/"> </a>
						<div class="col-md-4">
							<a href="http://cad.ufsc.br/"> </a><a href="http://nugecorp.ufsc.br/"><img src="./img/geracao_csv/logo_nugecorp.png"> </a>
						</div>
						<a href="http://nugecorp.ufsc.br/"> </a>
						<div class="col-md-4">
							<a href="http://nugecorp.ufsc.br/"> </a><a href="http://ufsc.br/"><img src="./img/geracao_csv/logo_ufsc.png"> </a>
						</div>
						<a href="http://ufsc.br/"> </a>
					</div>
					<a href="http://ufsc.br/"> </a>
				</div>
				<a href="http://ufsc.br/"> </a>
			</section>
			<a href="http://ufsc.br/"> <!-- End Copyright Bar -->

			</a>
		</footer>
		<!-- END FOOTER -->

		<!-- Scroll Top -->
		<a class="scroll-top"> <i class="fa fa-angle-double-up"></i>
		</a>
		<!-- End Scroll Top -->

	</div>
	<!-- Site Wraper End -->


	<!-- JS -->

	<script type="text/javascript">
		var l = window.location.pathname;
        if(l.charAt(l.length - 1) === '/') {
	        window.location.pathname = l.substring(0, l.length - 1);
        }
	</script>

	<script src="./webjars/jquery/2.1.3/jquery.min.js"></script>

	<script src="./js/geracao_csv/plugin/jquery.easing.js" type="text/javascript"></script>
	<script src="./js/geracao_csv/jquery-ui.min.js" type="text/javascript"></script>
	<script src="./webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="./js/geracao_csv/plugin/jquery.flexslider.js" type="text/javascript"></script>
	<script src="./js/geracao_csv/plugin/background-check.min.js" type="text/javascript"></script>
	<script src="./js/geracao_csv/plugin/jquery.fitvids.js" type="text/javascript"></script>
	<script src="./js/geracao_csv/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
	<script src="./js/geracao_csv/plugin/jquery.stellar.min.js" type="text/javascript"></script>
	<script src="./js/geracao_csv/plugin/wow.min.js" type="text/javascript"></script>
	<script src="./js/geracao_csv/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
	<script src="./js/geracao_csv/plugin/owl.carousel.min.js" type="text/javascript"></script>
	<script src="./js/geracao_csv/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
	<script src="./js/geracao_csv/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
	<script src="./js/geracao_csv/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
	<script src="./js/geracao_csv/plugin/jPushMenu.js" type="text/javascript"></script>
	<script src="./js/geracao_csv/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
	<script src="./js/geracao_csv/plugin/mediaelement-and-player.min.js"></script>
	<script src="./js/geracao_csv/theme.js" type="text/javascript"></script>
	<script src="./js/geracao_csv/navigation.js" type="text/javascript"></script>

	<script src="./webjars/angularjs/1.4.7/angular.min.js"></script>
	<script src="./webjars/angularjs/1.4.7/angular-route.min.js"></script>
	<script src="./webjars/angularjs/1.4.7/angular-animate.min.js"></script>
	<script src="./webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="./webjars/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
	<script src="./webjars/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
	<script src="./webjars/highcharts/3.0.10/highcharts.js"></script>
	<script src="./webjars/highcharts-ng/0.0.8/highcharts-ng.min.js"></script>
	<script src="./webjars/d3js/3.5.5/d3.min.js"></script>
	<script src="./webjars/underscorejs/1.8.3/underscore-min.js"></script>
	<script src="./webjars/ng-tags-input/3.0.0/build/ng-tags-input.min.js"></script>
	<script src="./webjars/bootbox.js/4.4.0/bootbox.js"></script>
	<script src="./js/lib/ngMask/ngMask.min.js"></script>
	<script src="./js/lib/angular-recaptcha/angular-re-captcha.js"></script>

	<script src="./js/app.module.js"></script>

	<script src="./js/geracao_csv/geracaoCsvController.js" type="text/javascript"></script>
	<script src="./js/geracao_csv/exportarRespostasController.js" type="text/javascript"></script>

	<script src="./js/service/cidadeService.js"></script>
	<script src="./js/service/bairroService.js"></script>
	<script src="./js/service/idadeService.js"></script>
	<script src="./js/service/proposicaoService.js"></script>
	<script src="./js/geracao_csv/entradaCsvService.js"></script>

</body>
</html>