text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  pointer-events: none;
}

.node {
	stroke: #fff;
	stroke-width: 2.5px;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
}

.zoom {
	position: absolute;
	z-index: 2;
}
