.form-inline > .form-group:not(:last-child) {
	margin-right: 8px;
}

.form-control:invalid,
.form-control.ng-invalid {
	border-color: #953b39;
}

.form-control:invalid:focus,
.form-control.ng-invalid:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
