*[ng-click]:not(:disabled),
*[href]:not(:disabled) {
	cursor: pointer;
}

.body {
	padding-bottom: 30px;
}

.loading {
	text-align: center;
	z-index: 1000;
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: rgba(198, 198, 198, 0.5);
}

.loading > img {
	position: static;
	margin-top: 10%;
}

.spin {
	-webkit-animation:spin 1.4s linear infinite;
    -moz-animation:spin 1.4s linear infinite;
    animation:spin 1.4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 30px;
	background-color: #FAC713;
	border-color: #E7B505;
}

.footer p {
	color: #333;
	margin: 5px 0;
}

.modal-body {
	max-height: calc(100vh - 210px);
	overflow-y: auto;
}

.p-title {
	font-weight: bold !important;
}

div.hidden{
	display: none;
}

accordion.filtro .panel-body {
	padding: 10px;
}

accordion.filtro .tab-content {
	padding-top: 10px;
}

accordion.filtro ul.nav-tabs > li > a {
	padding: 8px 10px;
}

.panel-heading .terms-controls i.glyphicon:not(:last-child) {
	margin-left: 12px;
}

.table tr.selected {
    background-color: #b0b0b0 !important;
}

td.icon {
	text-align: center;
	vertical-align: middle;
}

.full button span {
    background-color: #FAC713;
    border-radius: 32px;
    color: #000;
}

.chart-item.even {
	border-right: 0.5px solid #ddd;
}

.chart-item.odd {
	border-left: 0.5px solid #ddd;
}

hr.chart-divider {
	margin: 0;
	color: #ddd;
	border-width: 2px 0 0;
}

td.actions .btn-group {
	visibility: hidden;
}

tr:hover td.actions .btn-group {
	visibility: visible;
}

td.actions-2 {
	min-width: 96px;
}

td.actions-3 {
	min-width: 135px;
}
