.search-box > legend {
	font-weight: bolder;
    border-bottom-style: hidden;
    margin-bottom: 5px;
}

.search-box > .search-box-main {
	padding: 15px;
    border: 1px solid #D0D0D0;
    border-radius: 6px;
    background-color: #F3F3F3;
}

.search-box hr {
	margin: 13px 0;
	border-top-color: #d0d0d0;
}

.search-box .search-box-filter form .form-control:last-child {
	margin-bottom: 0;
}
